html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: hsl(227, 19%, 11%);
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis-weight: none;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}